<% include ./header %>

<div class="container">
  <div class="heading">
    <h1>Create A New Poll</h1>
    <hr>
  </div>

  <div class="card w-75">
    <form class="card-body" action="/newpoll" method="POST">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" name="name" placeholder="e.g. Favourite Colour" autocomplete="off"
          required>
      </div>
      <br>

      <div class="form-group input-options">
        <label>Poll Options:</label>
        <input type="text" class="form-control options" name="options" placeholder="Green" autocomplete="off" required>
        <br>
        <input type="text" class="form-control options" name="options" placeholder="Blue" autocomplete="off" required>
      </div>
      <a class="btn-more text-body" href="#">+</a>
      <br><br>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

</div>


<% include ./footer %>