<% include ./header %>
<h1>Polls...</h1>
<a href="/auth/google" class="google-btn">Google+</a>
<br>
<% if (user) { %>
<p>Logged in as
  <%= user.username %>
</p>
<a href="/newpoll">Create new poll</a>
<a href="/mypolls">View your polls</a>
<a href="/auth/logout">Log Out</a>
<% } else { %>
<p>Not logged in</p>
<% } %>

<p>Poll 1</p>
<p>Poll 2</p>
<p>Poll 3</p>
<p>Poll 4</p>
</body>

</html>