<% include ./header %>

<div class="container">
  <br>
  <h1>These are the polls you have created</h1>
  <p>Select a poll below to see the results and vote</p>
  <hr>
  <br>
  <% polls.forEach(poll => { %>
  <a href="/polls/<%= poll.id %>">
    <%= poll.title %></a>
  <% }); %>
</div>

<% include ./footer %>