<% include ./header %>

<div class="container">
  <br>
  <h1>
    <%= currentPoll.title %>
  </h1>
  <hr>
  <br>
  <p>Results:</p>
  <% currentPoll.options.forEach(option => { %>
  <p>
    <%= option.option %>
  </p>
  <% }); %>
</div>

<% include ./footer %>