.google-btn {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  padding: 10px;
  background: #ff5353;
  height: 2.5rem;
}

.btn-more {
  font-size: 25px;
}

.btn-more:hover {
  text-decoration: none;
}
