.google-btn {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  padding: 10px;
  background: #ff5353;
  height: 2.5rem;
}

.google-btn:hover {
  text-decoration: none;
  color: #fff;
}

.btn-more {
  font-size: 25px;
}

.btn-more:hover {
  text-decoration: none;
}

.card-vote {
  margin-top: 3rem;
}

.vote {
  padding-top: 1.5rem;
}

.card {
  margin-bottom: 3rem;
}

.poll-list a:hover {
  text-decoration: none;
  filter: brightness(200%);
}

.heading {
  margin: 3rem 0;
}

.navbar-brand img {
  width: 35px;
  height: 35px;
  margin-right: 5px;
}
